<style>
  #list-transaksi .item-header,
  #list-transaksi .item-title {
    color: #517900 !important;
  }
</style>
<template>
  <div class="page page-homepage light" data-name="homepage">
    <div class="page-content content-area pt-30 bottom-sp80">
      <div class="container">
        <div class="notification-bar">
          <div class="info">
            <span class="text">Selamat Datang</span>
            <h5 id="home-username" class="title">Andrea Pirlo</h5>
          </div>
          <div class="media">
            <a id="button-log-out" href="#" class="notibell">
              <i class="fa fa-power-off"></i>
              <div class="badge"></div>
            </a>
          </div>
        </div>
        <div style="justify-content: center;" class="title-bar mb-15">
          <div id="button-location"
            style="padding: 10px;border-radius: 10px;border: 1px solid #4aa599;padding-left: 27px;">
            <i style="margin-top:-1px;font-size: 16px;margin-right: 3px;position: absolute;margin-left: -22px;"
              class="material-icons">edit_location</i>
            <a href="#" id="picker-pasar" class="">Pasar Sapa</a>
          </div>
        </div>

        <div class="col-100">
          <a href="/deals/" class="item-category">
            <div id="home-item-info" class="item-info">
              <h3 id="home-date" class="title">...</h3>
              <table>
                <tr>
                  <td>Lapak</td>
                  <td>: <span id="home-lapak">...</span></td>
                  <td>Retri (bln)</td>
                  <td>: <span id="home-tot-retri-m">...</span></td>
                </tr>
                <tr>
                  <td>Pedagang</td>
                  <td>: <span id="home-pedagang">...</span> Org</td>
                  <td>Retri (hr)</td>
                  <td>: <span id="home-tot-retri">...</span></td>
                </tr>
              </table>
            </div>
            <img src="img/svg/leaf.svg" class="layer-icon" alt="">
          </a>
        </div>

      </div>

      <div>
        <div style="color: black;" class="block-title">
          <div style="display: flex;flex-direction: row ">
            <div style="flex-grow: 2;flex-basis: 0;" class="item-info">
              <div class="clearfix">
                <p>Retriubusi Hari Ini</p>
              </div>
            </div>

            <a href="/pay/" style="flex-grow: 1;flex-basis: 0;margin-top:10px"
              class="col button button-raised button-fill">Bayar</a>
            <!-- <button style="flex-grow: 1;flex-basis: 0;margin-top:10px"
              class="col button button-raised button-fill sheet-open"
              data-sheet=".demo-sheet-swipe-to-close">Bayar</button> -->
          </div>
        </div>
        <div class="list">
          <ul id="list-transaksi" style="background: transparent;">
            <li>
              <a href="#" class="item-content">
                <div class="item-inner">
                  <div class="item-title">
                    <div class="item-header"> . . . </div>. . .<div class="item-footer"> . . . </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="toolbar tabbar tabbar-labels toolbar-bottom menubar-area">
      <div class="toolbar-inner">
        <a href="/home/" class="tab-link active">
          <i class="flaticon-home"></i>
        </a>
        <a href="/setoran/" class="tab-link">
          <i class="flaticon-transfer-2"></i>
        </a>
        <a href="/user/" class="tab-link">
          <img src="img/avatar/1.jpg" class="user-media" alt="">
        </a>
      </div>
    </div>

    <div class="sheet-modal demo-sheet-swipe-to-close" style="height:auto">
      <div class="sheet-modal-inner">
        <div class="swipe-handler"></div>
        <div class="page-content">
          <div style="font-size: 20px;" class="block-title block-title-large">Bayar Retribusi</div>

          <form class="list" id="demo-form">
            <ul style="background: transparent;">
              <li class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <div class="item-title item-label">Pedagang</div>
                  <div class="item-input-wrap">
                    <select id="select-lapak" name="pedagang" placeholder="Please choose..." class="input-with-value">

                    </select>
                  </div>
                </div>
              </li>
              <li class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <div class="item-title item-label">Periode</div>
                  <div class="item-input-wrap input-dropdown-wrap">
                    <select id="select-periode" name="periode" placeholder="Please choose..." class="input-with-value">
                      <option value="1">1 Hari</option>
                      <option value="3">3 Hari</option>
                      <option value="7">1 Minggu</option>
                      <option value="30">1 Bulan</option>
                      <option value="365">1 Tahun</option>
                    </select>
                  </div>
                </div>
              </li>
              <li class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <input id="input-nominal" type="hidden" name="nominal" value="5000">
                  <div class="item-title item-label">Nominal</div>
                  <div class="item-input-wrap" style="font-weight: bold;padding-top: 5px;">
                    RP <span id="span-nominal">10.000</span>,-
                  </div>
                </div>
              </li>
              <li class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <div class="item-title item-label">Berlaku Mulai</div>
                  <div class="item-input-wrap">
                    <input name="start" type="date" value="2021-03-20" placeholder="Please choose..."
                      class="input-with-value">
                  </div>
                </div>
              </li>
              <li style="display: none;" id="section-sampai" class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <div class="item-title item-label">Berlaku Sampai</div>
                  <div class="item-input-wrap">
                    <input name="end" type="date" value="2021-04-20" placeholder="Please choose..."
                      class="input-with-value">
                  </div>
                </div>
              </li>
              <li class="item-content item-input item-input-with-value">
                <div class="item-inner">
                  <p id="payment-segment" class="segmented segmented-strong" style="width: 100%;">
                    <a class="button active">CASH</a>
                    <a class="button">QR CODE</a>
                  </p>
                </div>
              </li>
              <li class="item-content item-input" style="padding: 10px 35px;">
                <a id="pay-button-lagi2" @click="openConfirm" style="width: 100%;" href="#"
                  class="button button-raised button-fill">Bayar</a>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  let $self

  const prosesBayar = () => {
    console.log($self)
    GLOBAL = $self
    jQuery.noConflict();
    jQuery(document).ready(function ($) {

      let frm = console.log($("form").serialize())
      if ($("#payment-segment a.active").html() === "CASH") {
        var settings = {
          url: AJX_URL + "/api/trx/cash",
          method: "POST",
          timeout: 0,
          headers: { "Content-Type": "application/json" },
          data: JSON.stringify(getFormData($("form"))),
        };
        $.ajax(settings).done(function (response) {
          GLOBAL.$app.sheet.close()
          GLOBAL.$f7router.refreshPage()
        });
      } else {
        var settings = {
          url: AJX_URL + "/api/trx/qr",
          method: "POST",
          timeout: 0,
          headers: { "Content-Type": "application/json" },
          data: JSON.stringify(getFormData($("form"))),
        };
        $.ajax(settings).done(function (response) {
          GLOBAL.$app.sheet.close()
          let id = response.message.result.transaction_id
          GLOBAL.$router.navigate('/pay/qr/' + id)
        });
      }
    })
  }

  return {

    methods: {
      openConfirm: function () {
        var app = this.$app;
        app.dialog.confirm('Apakah data yang anda masukkan sudah benar ?', '', function () {
          prosesBayar()
        });
      }
    },
    on: {
      pageBeforeMounted: function () {
        authenticate()
      },
      pageInit: function () {

        var self = this;
        $self = self
        $('.item-bookmark').on('click', function (e) {
          $(this).toggleClass('active');
        });

        self.sheetSwipeToClose = self.$app.sheet.create({
          el: '.demo-sheet-swipe-to-close',
          swipeToClose: true,
          push: true,
          backdrop: true,
        });

        jQuery.noConflict();
        jQuery(document).ready(function ($) {
          self.$app.preloader.show();

          $("#home-date").html(getCurrentDate())
          $("#home-username").html(Username)

          AJX_GET({
            url: '/api/dashboard/home/summary'
          }).then((data) => {
            let sum = data.data
            console.log(sum)
            $("#home-lapak").html(sum.totalLapak)
            $("#home-pedagang").html(sum.totalMerchant)
            $("#home-tot-retri").html(RupiahFormatter(sum.dayTransaction))
            $("#home-tot-retri-m").html(RupiahFormatter(sum.monthTransaction))
          })

          AJX_GET({
            url: '/api/pedagang/'
          }).then((data) => {
            let opt = "";
            data.forEach(el => {
              opt += "<option>" + el.nama + " - " + el.tempat_usaha + "</option>"
            });
            $("#select-lapak").html(opt)
          })

          AJX_GET({
            url: '/api/trx/list/'
          }).then((data) => {
            data = data.data
            let tpl = "";
            data.forEach(el => {
              tpl += `<li><a href="#" class="item-content"><div class="item-inner"><div class="item-title">`
                + `<div class="item-header">` + el.merchant.name + `</div>`
                + el.payment + ` | ` + RupiahFormatter(el.total)
                + `<div class="item-footer">` + el.date + `</div></div></div>` + StatusTrxFormatter(el.status) + `</a></li>`
            });
            $("#list-transaksi").html(tpl)
            self.$app.preloader.hide();
          })

          $("body").on("click", "#pay-button-lagi", function () {
            self.$app.preloader.show();
            $.get(AJX_URL + "/payment/", function (data) {
              window.location.replace(data.result.redirect_url)
            }, 'json');
          });

          $("body").on("click", "#button-log-out", function () {
            sessionStorage.setItem("token", 0)
            redirect("signin")
          });

          $("body").on("click", "#payment-segment a", function () {
            $("#payment-segment a").removeClass("active")
            $(this).addClass("active")
          });

        });

        self.pickerDevice = app.picker.create({
          inputEl: '#picker-pasar',
          cols: [
            {
              textAlign: 'center',
              values: ["Pasar Sapa", "Pasar Amurang", "Pasar Tumpaan"]
            }
          ],
          on: {
            closed: function (picker) {
              console.log(picker)
              var value = picker.value[0];
              $("#picker-pasar").html(value)
            }
          }
        });
        self.pickerDevice.value = "iPhone 4S";
      },
      pageBeforeOut: function () {
        var self = this;
      },
      pageBeforeRemove: function () {
        var self = this;
        if (self.sheetSwipeToClose) self.sheetSwipeToClose.destroy();

      },
    },
  }
</script>