<div class="page page-onboading" data-name="home">
    <div class="page-content pb-100 container">
        <div class="started-swiper-box">
            <div data-pagination='{"el": ".swiper-pagination", "hideOnClick": true}'
                class="swiper-container swiper-init swiper-container-initialized swiper-container-horizontal get-started">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class=" slide-info">
                            <div class="slide-media">
                                <div class="logo-icon">
                                    <img src="img/logo-icon.png" alt="" />
                                </div>
                                <img src="img/logo-text-dark.png" width="130" class="logo-dark" alt="logo">
                                <img src="img/logo-text-light.png" width="130" class="logo-light"
                                    alt="logo">
                            </div>
                            <div class="slide-content color-white">
                                <h1 class="text-uppercase dz-title">Welcome to Kede! Your grocery
                                    application</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-info">
                            <div class="slide-media">
                                <svg width="200" height="200" viewBox="0 0 200 200" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M141.906 167.469C142.494 168.042 142.96 168.727 143.277 169.484C143.593 170.241 143.754 171.054 143.75 171.875C143.745 173.531 143.085 175.118 141.914 176.289C140.743 177.46 139.156 178.12 137.5 178.125H125C123.346 178.113 121.764 177.45 120.594 176.281C119.425 175.111 118.762 173.529 118.75 171.875C118.755 170.219 119.415 168.632 120.586 167.461C121.757 166.29 123.344 165.63 125 165.625H137.5C138.321 165.621 139.134 165.782 139.891 166.098C140.648 166.415 141.333 166.881 141.906 167.469Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M124.469 47.4063C126.521 49.453 127.8 52.1481 128.088 55.0323C128.375 57.9165 127.654 60.8112 126.046 63.2228C124.438 65.6345 122.043 67.4138 119.27 68.2576C116.498 69.1013 113.518 68.9572 110.839 67.8498C108.161 66.7424 105.949 64.7403 104.581 62.1847C103.214 59.6291 102.775 56.6783 103.339 53.8354C103.904 50.9924 105.437 48.4332 107.677 46.5941C109.918 44.755 112.727 43.7499 115.625 43.75C118.94 43.7559 122.118 45.0699 124.469 47.4063Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path d="M115.625 90.625V190.625L103.125 175V90.625H115.625Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path d="M103.125 175L115.625 190.625H90.625L103.125 175Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path d="M103.125 90.625V175L90.625 190.625V90.625H103.125Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M71.875 90.625H9.375V190.625H90.625V90.625H71.875ZM62.5 137.5H37.5C35.8579 137.502 34.2315 137.18 32.714 136.553C31.1965 135.925 29.8177 135.005 28.6566 133.843C27.4954 132.682 26.5748 131.303 25.9473 129.786C25.3199 128.268 24.9979 126.642 25 125V103.125H37.5V125H62.5V103.125H75V125C74.9956 128.038 73.8847 130.971 71.875 133.25C71.7147 133.462 71.537 133.661 71.3438 133.844C68.9927 136.18 65.8145 137.494 62.5 137.5Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M75 103.125V125C74.9956 128.038 73.8847 130.971 71.875 133.25V103.125H75Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M193.75 25V175C193.75 179.973 191.775 184.742 188.258 188.258C184.742 191.775 179.973 193.75 175 193.75H125V187.5H175C178.315 187.5 181.495 186.183 183.839 183.839C186.183 181.495 187.5 178.315 187.5 175V25C187.5 21.6848 186.183 18.5054 183.839 16.1612C181.495 13.817 178.315 12.5 175 12.5H87.5C84.1848 12.5 81.0054 13.817 78.6612 16.1612C76.317 18.5054 75 21.6848 75 25V81.25H68.75V25C68.75 20.0272 70.7254 15.2581 74.2417 11.7417C77.7581 8.22544 82.5272 6.25 87.5 6.25H175C179.973 6.25 184.742 8.22544 188.258 11.7417C191.775 15.2581 193.75 20.0272 193.75 25Z"
                                        fill="#4CB32B" />
                                    <path
                                        d="M137.5 175H125V181.25H137.5C139.986 181.25 142.371 180.262 144.129 178.504C145.887 176.746 146.875 174.361 146.875 171.875C146.875 169.389 145.887 167.004 144.129 165.246C142.371 163.488 139.986 162.5 137.5 162.5H125V168.75H137.5C138.329 168.75 139.124 169.079 139.71 169.665C140.296 170.251 140.625 171.046 140.625 171.875C140.625 172.704 140.296 173.499 139.71 174.085C139.124 174.671 138.329 175 137.5 175Z"
                                        fill="#4CB32B" />
                                    <path d="M109.375 18.75H115.625V25H109.375V18.75Z" fill="#4CB32B" />
                                    <path d="M121.875 18.75H140.625V25H121.875V18.75Z" fill="#4CB32B" />
                                    <path
                                        d="M75 100H62.5C61.6712 100 60.8763 100.329 60.2903 100.915C59.7042 101.501 59.375 102.296 59.375 103.125V121.875H40.625V103.125C40.625 102.296 40.2958 101.501 39.7097 100.915C39.1237 100.329 38.3288 100 37.5 100H25C24.1712 100 23.3763 100.329 22.7903 100.915C22.2042 101.501 21.875 102.296 21.875 103.125V125C21.88 129.142 23.5278 133.114 26.4569 136.043C29.3861 138.972 33.3575 140.62 37.5 140.625H62.5C66.6425 140.62 70.6139 138.972 73.5431 136.043C76.4722 133.114 78.12 129.142 78.125 125V103.125C78.125 102.296 77.7958 101.501 77.2097 100.915C76.6237 100.329 75.8288 100 75 100ZM28.125 125V106.25H34.375V133.841C32.5484 133.192 30.9672 131.994 29.8483 130.411C28.7293 128.829 28.1274 126.938 28.125 125ZM40.625 128.125H59.375V134.375H40.625V128.125ZM71.875 125C71.8726 126.938 71.2707 128.829 70.1517 130.411C69.0328 131.994 67.4516 133.192 65.625 133.841V106.25H71.875V125Z"
                                        fill="#4CB32B" />
                                    <path
                                        d="M115.625 87.5H9.375C8.5462 87.5 7.75134 87.8292 7.16529 88.4153C6.57924 89.0013 6.25 89.7962 6.25 90.625V190.625C6.25 191.454 6.57924 192.249 7.16529 192.835C7.75134 193.421 8.5462 193.75 9.375 193.75H115.625C116.454 193.75 117.249 193.421 117.835 192.835C118.421 192.249 118.75 191.454 118.75 190.625V90.625C118.75 89.7962 118.421 89.0013 117.835 88.4153C117.249 87.8292 116.454 87.5 115.625 87.5ZM87.5 187.5H12.5V93.75H87.5V187.5ZM93.75 93.75H100V173.906L93.75 181.719V93.75ZM97.125 187.5L103.125 180L109.125 187.5H97.125ZM112.5 181.719L106.25 173.906V93.75H112.5V181.719Z"
                                        fill="#4CB32B" />
                                    <path
                                        d="M100 56.25C99.995 58.6889 100.561 61.0952 101.653 63.2761C102.744 65.4571 104.331 67.3522 106.287 68.8098C108.242 70.2674 110.512 71.2471 112.914 71.6703C115.316 72.0935 117.783 71.9485 120.119 71.247C122.455 70.5455 124.594 69.307 126.366 67.6305C128.137 65.9539 129.491 63.886 130.32 61.5923C131.149 59.2985 131.429 56.8425 131.139 54.421C130.848 51.9994 129.995 49.6795 128.647 47.6469L133.459 42.8344L129.041 38.4156L124.228 43.2281C121.876 41.6667 119.144 40.7728 116.324 40.6417C113.504 40.5106 110.701 41.1473 108.215 42.4838C105.728 43.8204 103.65 45.8067 102.204 48.231C100.757 50.6554 99.9955 53.4269 100 56.25ZM115.625 46.875C117.017 46.8804 118.39 47.2009 119.641 47.8125L110.291 57.1625L114.709 61.5813L124.063 52.2344C124.674 53.485 124.995 54.8579 125 56.25C125 58.1042 124.45 59.9168 123.42 61.4585C122.39 63.0002 120.926 64.2018 119.213 64.9114C117.5 65.6209 115.615 65.8066 113.796 65.4449C111.977 65.0831 110.307 64.1903 108.996 62.8791C107.685 61.568 106.792 59.8976 106.43 58.079C106.068 56.2604 106.254 54.3754 106.964 52.6623C107.673 50.9493 108.875 49.4851 110.417 48.455C111.958 47.4248 113.771 46.875 115.625 46.875Z"
                                        fill="#4CB32B" />
                                    <path d="M140.625 46.875H159.375V53.125H140.625V46.875Z"
                                        fill="#4CB32B" />
                                    <path d="M140.625 59.375H159.375V65.625H140.625V59.375Z"
                                        fill="#4CB32B" />
                                    <path d="M131.25 93.75H175V100H131.25V93.75Z" fill="#4CB32B" />
                                    <path d="M131.25 106.25H175V112.5H131.25V106.25Z" fill="#4CB32B" />
                                    <path d="M131.25 118.75H175V125H131.25V118.75Z" fill="#4CB32B" />
                                    <path d="M131.25 131.25H175V137.5H131.25V131.25Z" fill="#4CB32B" />
                                </svg>
                            </div>
                            <div class="slide-content">
                                <h1 class="text-uppercase dz-title">We provide best quality product to your
                                    family</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slide-info">
                            <div class="slide-media">
                                <svg width="200" height="200" viewBox="0 0 200 200" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M171.875 50H146.875V84.375C146.88 86.0311 147.54 87.6179 148.711 88.789C149.882 89.96 151.469 90.6201 153.125 90.625H184.375C186.031 90.6201 187.618 89.96 188.789 88.789C189.96 87.6179 190.62 86.0311 190.625 84.375V50H171.875Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M159.375 28.125H171.875V50H146.875V78.125H121.875V28.125H134.375H159.375Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M140.625 103.125L134.375 146.875H115.625L121.875 103.125H140.625Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M115.625 115.313V146.875H87.5L81.8125 102.562L84.375 100L93.75 103.125L95.9375 94.375L104.5 98.1875C107.811 99.6614 110.624 102.063 112.598 105.103C114.573 108.142 115.624 111.688 115.625 115.313Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M103.125 33.9375C103.929 34.137 104.62 34.6472 105.048 35.3562C105.476 36.0651 105.605 36.9148 105.406 37.7187L104.5 41.3125C104.231 42.4015 103.67 43.3963 102.877 44.1894C102.084 44.9826 101.089 45.5438 100 45.8125C99.1894 46.0537 98.3344 46.1071 97.5 45.9688C91.0851 44.8899 84.6178 44.1492 78.125 43.75C71.6323 44.1492 65.165 44.8899 58.75 45.9688C57.9156 46.1071 57.0607 46.0537 56.25 45.8125C55.161 45.5438 54.1662 44.9826 53.3731 44.1894C52.58 43.3963 52.0187 42.4015 51.75 41.3125L50.8438 37.7187C50.6455 36.9148 50.7744 36.0651 51.2021 35.3562C51.6298 34.6472 52.3214 34.137 53.125 33.9375C53.2257 33.9017 53.3309 33.8807 53.4375 33.875C59.7188 33 72.8438 31.25 78.125 31.25C83.4063 31.25 96.5313 33 102.813 33.875C102.919 33.8807 103.024 33.9017 103.125 33.9375Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M103.125 25V33.9375C103.024 33.9017 102.919 33.8807 102.813 33.875C96.5313 33 83.4063 31.25 78.125 31.25C72.8438 31.25 59.7188 33 53.4375 33.875C53.3309 33.8807 53.2256 33.9017 53.125 33.9375V23.8125C53.121 23.2301 53.2797 22.6582 53.5834 22.1612C53.8871 21.6643 54.3237 21.2621 54.8438 21C59.5625 18.6875 72.6875 12.5 78.125 12.5C83.5625 12.5 96.6875 18.6875 101.406 21C101.926 21.2621 102.363 21.6643 102.667 22.1612C102.97 22.6582 103.129 23.2301 103.125 23.8125V25Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M95.9375 94.375L93.75 103.125L84.375 100L81.25 93.75L87.5 90.625L95.9375 94.375Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M81.25 93.75L84.375 100L81.8125 102.562L78.125 106.25L74.4375 102.562L71.875 100L75 93.75H81.25Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path
                                        d="M81.8125 102.562L78.125 106.25L74.4375 102.562L71.875 100L75 93.75L68.75 90.625L60.3125 94.375L51.75 98.1875C49.2062 99.3274 46.9444 101.013 45.125 103.125H53.125C56.4402 103.125 59.6196 104.442 61.9638 106.786C64.308 109.13 65.625 112.31 65.625 115.625V146.875H87.5L81.8125 102.562Z"
                                        style="opacity: 0.2;" fill="#E8FFE0" />
                                    <path d="M65.625 53.125H71.875V59.375H65.625V53.125Z" fill="#4CB32B" />
                                    <path d="M84.375 53.125H90.625V59.375H84.375V53.125Z" fill="#4CB32B" />
                                    <path
                                        d="M53.125 100H21.875C17.731 100 13.7567 101.646 10.8265 104.576C7.8962 107.507 6.25 111.481 6.25 115.625V178.125C6.25 182.269 7.8962 186.243 10.8265 189.174C13.7567 192.104 17.731 193.75 21.875 193.75H53.125C57.269 193.75 61.2433 192.104 64.1735 189.174C67.1038 186.243 68.75 182.269 68.75 178.125V115.625C68.75 111.481 67.1038 107.507 64.1735 104.576C61.2433 101.646 57.269 100 53.125 100ZM62.5 178.125C62.4926 180.609 61.5025 182.989 59.7459 184.746C57.9894 186.502 55.6091 187.493 53.125 187.5H21.875C19.3909 187.493 17.0106 186.502 15.2541 184.746C13.4975 182.989 12.5074 180.609 12.5 178.125V115.625C12.5074 113.141 13.4975 110.761 15.2541 109.004C17.0106 107.248 19.3909 106.257 21.875 106.25H53.125C55.6091 106.257 57.9894 107.248 59.7459 109.004C61.5025 110.761 62.4926 113.141 62.5 115.625V178.125Z"
                                        fill="#4CB32B" />
                                    <path d="M31.25 112.5H43.75V118.75H31.25V112.5Z" fill="#4CB32B" />
                                    <path d="M18.75 112.5H25V118.75H18.75V112.5Z" fill="#4CB32B" />
                                    <path d="M31.25 175H43.75V181.25H31.25V175Z" fill="#4CB32B" />
                                    <path
                                        d="M34.375 137.5H40.625C41.4538 137.5 42.2487 137.829 42.8347 138.415C43.4208 139.001 43.75 139.796 43.75 140.625H50C50 138.139 49.0123 135.754 47.2541 133.996C45.496 132.238 43.1114 131.25 40.625 131.25V128.125H34.375V131.25C31.8886 131.25 29.504 132.238 27.7459 133.996C25.9877 135.754 25 138.139 25 140.625C25 143.111 25.9877 145.496 27.7459 147.254C29.504 149.012 31.8886 150 34.375 150H40.625C41.4538 150 42.2487 150.329 42.8347 150.915C43.4208 151.501 43.75 152.296 43.75 153.125C43.75 153.954 43.4208 154.749 42.8347 155.335C42.2487 155.921 41.4538 156.25 40.625 156.25H34.375C33.5462 156.25 32.7513 155.921 32.1653 155.335C31.5792 154.749 31.25 153.954 31.25 153.125H25C25 155.611 25.9877 157.996 27.7459 159.754C29.504 161.512 31.8886 162.5 34.375 162.5V165.625H40.625V162.5C43.1114 162.5 45.496 161.512 47.2541 159.754C49.0123 157.996 50 155.611 50 153.125C50 150.639 49.0123 148.254 47.2541 146.496C45.496 144.738 43.1114 143.75 40.625 143.75H34.375C33.5462 143.75 32.7513 143.421 32.1653 142.835C31.5792 142.249 31.25 141.454 31.25 140.625C31.25 139.796 31.5792 139.001 32.1653 138.415C32.7513 137.829 33.5462 137.5 34.375 137.5Z"
                                        fill="#4CB32B" />
                                    <path
                                        d="M190.625 46.875H175V28.125C175 27.2962 174.671 26.5013 174.085 25.9153C173.499 25.3292 172.704 25 171.875 25H162.5V21.875C162.5 17.731 160.854 13.7567 157.924 10.8265C154.993 7.8962 151.019 6.25 146.875 6.25C142.731 6.25 138.757 7.8962 135.826 10.8265C132.896 13.7567 131.25 17.731 131.25 21.875V25H121.875C121.046 25 120.251 25.3292 119.665 25.9153C119.079 26.5013 118.75 27.2962 118.75 28.125V84.375C118.756 86.6891 119.625 88.9178 121.187 90.625C119.625 92.3322 118.756 94.5609 118.75 96.875V102.906L117.844 109.156C116.957 106.116 115.419 103.305 113.336 100.92C111.252 98.5346 108.674 96.6317 105.781 95.3438L90.625 88.5938V81C93.4888 79.3322 95.9953 77.1155 98.0009 74.4772C100.006 71.8389 101.472 68.8307 102.312 65.625H103.125C105.499 65.6342 107.787 64.7408 109.527 63.1257C111.267 61.5106 112.328 59.2945 112.495 56.9265C112.661 54.5585 111.922 52.2156 110.426 50.3725C108.93 48.5293 106.789 47.3238 104.437 47C105.965 45.7362 107.049 44.0172 107.531 42.0938L108.437 38.5C108.655 37.6471 108.69 36.7578 108.539 35.8906C108.388 35.0234 108.055 34.198 107.562 33.4688C107.199 32.9543 106.756 32.5007 106.25 32.125V23.8125C106.257 22.648 105.936 21.5052 105.322 20.5155C104.708 19.5259 103.828 18.7297 102.781 18.2188C96.0625 14.9062 83.9375 9.375 78.125 9.375C72.3125 9.375 60.1875 14.9062 53.4687 18.2188C52.4224 18.7297 51.5416 19.5259 50.9279 20.5155C50.3142 21.5052 49.9926 22.648 50 23.8125V32.125C49.4942 32.5007 49.0512 32.9543 48.6875 33.4688C48.1946 34.198 47.8617 35.0234 47.7109 35.8906C47.5601 36.7578 47.5947 37.6471 47.8125 38.5L48.7187 42.0625C49.1799 44.0034 50.2671 45.7385 51.8125 47C49.4608 47.3238 47.3201 48.5293 45.8241 50.3725C44.3281 52.2156 43.5886 54.5585 43.7555 56.9265C43.9223 59.2945 44.9831 61.5106 46.7228 63.1257C48.4625 64.7408 50.7511 65.6342 53.125 65.625H53.9375C55.0459 69.9487 57.29 73.8976 60.4375 77.0625C61.9812 78.6029 63.7262 79.9274 65.625 81V88.5938L58.0937 91.9375L60.6562 97.6562L68.6875 94.0938L70.8125 95.1562L69.6562 97.4375L64.625 99.125L66.625 105.062L71.0312 103.562L71.1562 103.688L69.6562 115.219L75.875 116.031L76.75 109.031C77.1732 109.257 77.6454 109.375 78.125 109.375C78.6046 109.375 79.0768 109.257 79.5 109.031L83.9375 143.75H75V150H134.375C135.128 150 135.855 149.728 136.424 149.234C136.992 148.74 137.363 148.058 137.469 147.312L143.406 105.781C145.311 105.194 146.978 104.012 148.165 102.41C149.351 100.808 149.994 98.8685 150 96.875V93.1875C151.002 93.5513 152.059 93.7415 153.125 93.75H184.375C186.859 93.7426 189.239 92.7525 190.996 90.9959C192.752 89.2394 193.743 86.8591 193.75 84.375V50C193.75 49.1712 193.421 48.3763 192.835 47.7903C192.249 47.2042 191.454 46.875 190.625 46.875ZM103.125 53.125C103.954 53.125 104.749 53.4542 105.335 54.0403C105.921 54.6263 106.25 55.4212 106.25 56.25C106.25 57.0788 105.921 57.8737 105.335 58.4597C104.749 59.0458 103.954 59.375 103.125 59.375V53.125ZM53.125 59.375C52.2962 59.375 51.5013 59.0458 50.9153 58.4597C50.3292 57.8737 50 57.0788 50 56.25C50 55.4212 50.3292 54.6263 50.9153 54.0403C51.5013 53.4542 52.2962 53.125 53.125 53.125V59.375ZM92.2812 96.1562L91.5312 99.0938L86.5937 97.4375L85.4375 95.1562L87.5625 94.0938L92.2812 96.1562ZM56.25 23.8125C66.375 18.8438 74.9687 15.625 78.125 15.625C81.2812 15.625 89.875 18.8438 100 23.8125V30.3438C92.7812 29.375 82.7187 28.125 78.125 28.125C73.5312 28.125 63.4687 29.375 56.25 30.3438V23.8125ZM54.7812 40.5625L53.875 36.9688C61.9087 35.6903 70.0026 34.8246 78.125 34.375C86.2473 34.8246 94.3413 35.6903 102.375 36.9688L101.469 40.5625C101.301 41.24 100.912 41.842 100.362 42.2724C99.813 42.7028 99.1354 42.937 98.4375 42.9375C98.291 42.9427 98.1443 42.9322 98 42.9062C91.424 41.7668 84.7881 41.0052 78.125 40.625C71.4619 41.0052 64.826 41.7668 58.25 42.9062C57.4843 43.014 56.7059 42.834 56.0652 42.4011C55.4245 41.9682 54.967 41.3131 54.7812 40.5625ZM64.875 72.625C63.1233 70.893 61.7347 68.8291 60.7903 66.554C59.8459 64.2789 59.3648 61.8383 59.375 59.375V49.0625C65.578 47.9754 71.8383 47.2451 78.125 46.875C84.4117 47.2451 90.672 47.9754 96.875 49.0625V59.375C96.875 64.3478 94.8996 69.1169 91.3832 72.6333C87.8669 76.1496 83.0978 78.125 78.125 78.125C75.6617 78.1352 73.2211 77.6541 70.946 76.7097C68.6709 75.7653 66.6069 74.3767 64.875 72.625ZM78.125 101.844L75.6875 99.375L76.9375 96.875H79.3125L80.5625 99.375L78.125 101.844ZM84.375 88.6875L80.5 90.625H75.75L71.875 88.6875V83.5625C73.9151 84.0992 76.0155 84.3723 78.125 84.375C80.2337 84.361 82.3328 84.0882 84.375 83.5625V88.6875ZM112.5 143.75H90.25L85.0937 103.688L85.2187 103.562L92.75 106.094C93.0746 106.191 93.4111 106.244 93.75 106.25C94.2735 106.253 94.7893 106.124 95.25 105.875C95.628 105.664 95.9589 105.377 96.2222 105.033C96.4855 104.689 96.6758 104.295 96.7812 103.875L98.0625 98.75L103.219 101.031C105.982 102.259 108.329 104.261 109.976 106.796C111.624 109.331 112.5 112.289 112.5 115.313V143.75ZM137.5 21.875C137.5 19.3886 138.488 17.004 140.246 15.2459C142.004 13.4877 144.389 12.5 146.875 12.5C149.361 12.5 151.746 13.4877 153.504 15.2459C155.262 17.004 156.25 19.3886 156.25 21.875V25H137.5V21.875ZM131.656 143.75H119.219L124.594 106.25H137.031L131.656 143.75ZM143.75 96.875C143.75 97.7038 143.421 98.4987 142.835 99.0847C142.249 99.6708 141.454 100 140.625 100H125V96.875C125 96.0462 125.329 95.2513 125.915 94.6653C126.501 94.0792 127.296 93.75 128.125 93.75H143.75V96.875ZM128.125 87.5C127.296 87.5 126.501 87.1708 125.915 86.5847C125.329 85.9987 125 85.2038 125 84.375V81.25H143.75V84.375C143.758 85.4411 143.949 86.4979 144.312 87.5H128.125ZM146.875 46.875C146.046 46.875 145.251 47.2042 144.665 47.7903C144.079 48.3763 143.75 49.1712 143.75 50V75H125V31.25H131.25V40.625H137.5V31.25H156.25V40.625H162.5V31.25H168.75V46.875H146.875ZM187.5 84.375C187.5 85.2038 187.171 85.9987 186.585 86.5847C185.999 87.1708 185.204 87.5 184.375 87.5H153.125C152.296 87.5 151.501 87.1708 150.915 86.5847C150.329 85.9987 150 85.2038 150 84.375V53.125H187.5V84.375Z"
                                        fill="#4CB32B" />
                                    <path
                                        d="M165.625 75H171.875C174.361 75 176.746 74.0123 178.504 72.2541C180.262 70.496 181.25 68.1114 181.25 65.625V59.375H175V65.625C175 66.4538 174.671 67.2487 174.085 67.8347C173.499 68.4208 172.704 68.75 171.875 68.75H165.625C164.796 68.75 164.001 68.4208 163.415 67.8347C162.829 67.2487 162.5 66.4538 162.5 65.625V59.375H156.25V65.625C156.25 68.1114 157.238 70.496 158.996 72.2541C160.754 74.0123 163.139 75 165.625 75Z"
                                        fill="#4CB32B" />
                                </svg>
                            </div>
                            <div class="slide-content">
                                <h1 class="text-uppercase dz-title">Fast and responsibily <br />delivery by
                                    our courir </h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                    tempor </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="toolbar toolbar-bottom footer-button padding">
        <div class="container px-15">
            <a href="/signin/" class="button-large button button-fill">Get Started</a>
        </div>
    </div>
</div>