<template>
  <div class="page">
    <div class="navbar navbar-style-1">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="/home/" class="link back">
            <i class="icon flaticon-left"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Bayar Retribusi</div>
        <div class="right"></div>
      </div>
    </div>

    <div class="page-content">
      <div class="block-title">Input Pembayaran</div>
      <div class="list no-hairlines-md">
        <ul id="frm-bayar">
          <li class="item-content item-input inline-label">
            <div class="item-inner">
              <div class="item-title item-label">Nama</div>
              <div class="item-input-wrap">
                <input type="text" placeholder="Nama Pelapak" id="autocomplete-dropdown-expand" />
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
          <li class="item-content item-input inline-label">
            <div class="item-inner">
              <div class="item-title item-label">Lapak</div>
              <div id="cx-layout" class="item-input-wrap">
                <div class="list">
                  ...
                </div>
              </div>
            </div>
          </li>
          <li class="item-content item-input inline-label">
            <div class="item-inner">
              <div class="item-title item-label">Tanggal</div>
              <div id="paeriod-layout" class="item-input-wrap">
                <input type="text" placeholder="Select date range" readonly="readonly" id="demo-calendar-range"
                  value="" />
              </div>
            </div>
          </li>
          <li class="item-content item-input inline-label">
            <div class="item-inner">
              <div class="item-title item-label">Jumlah Hari</div>
              <div id="paeriod-layout" class="item-input-wrap">
                <span id="jum-hari"></span> Hari
              </div>
            </div>
          </li>
          <li class="item-content item-input inline-label">
            <div class="item-inner">
              <div class="item-title item-label">Total</div>
              <div id="total-layout" class="item-input-wrap">
                <h3>-</h3>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="toolbar toolbar-bottom footer-button padding border-top bottom-button">
        <div class="container px-15">
          <a id="btn-bayar" class="button-large button button-fill">Bayar</a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        fruits: 'Apple Apricot Avocado Banana Melon Orange Peach Pear Pineapple'.split(' '),
        date: '',
        total: 0,
        lapak: [],
        range: [new Date()],
        merchantId: 0,
        periodDay: 0
      };
    },
    on: {
      pageBeforeRemove() {
        var self = this;
        self.autocompleteDropdownExpand.destroy();
        jQuery.noConflict();
        jQuery(document).ready(function ($) {
          $("#btn-bayar").unbind("click");
        })
      },
      pageInit: function () {
        var self = this;
        var app = self.$app;
        var fruits = [];
        var $ = self.$;
        var getLapak = {}
        var calculate = {}
        var todayDate = moment().tz("Asia/Makassar").format("DD/MM/yyyy")
        self.range = [new Date()]

        jQuery.noConflict();
        jQuery(document).ready(function ($) {
          $("#demo-calendar-range").val(todayDate)
          AJX_GET({
            url: '/api/merchant/'
          }).then((res) => {
            fruits = []
            res.data.forEach(element => {
              fruits.push(
                {
                  id: element.id,
                  name: element.name
                }
              )
            });
          })

          calculate = () => {
            self.total = 0
            self.lapak = []
            $('.cx-lapak').each(function (i, obj) {
              if ($(obj).is(":checked")) {
                self.lapak.push($(obj).val())
                self.total += $(obj).data('tariff')
              }
            });

            // start calculate range date
            console.log("com", self)
            console.log('range', self.range)
            var range = (self.range === undefined) ? [new Date] : self.range

            if (range.length == 1) {
              self.periodDay = 1
            } else {
              let d1 = moment(range[0])
              let d2 = moment(range[1])
              self.periodDay = d2.diff(d1, 'days') + 1
            }
            self.total *= self.periodDay
            $("#jum-hari").html(self.periodDay)
            $("#total-layout h3").html(RupiahFormatter(self.total))
          }

          getLapak = (i) => {
            var tpl = '';
            $("#cx-layout .list").html('...')
            AJX_GET({
              url: `/api/merchant/lapak/${i}`
            }).then((res) => {
              res.data.forEach(e => {
                tpl += '<li><label class="item-checkbox item-content">'
                  + '<input data-tariff="' + e.kios.tariff + '" class="cx-lapak" type="checkbox" checked name="demo-checkbox" value="' + e.id + '"><i class="icon icon-checkbox"></i>'
                  + '<div class="item-inner">'
                  + '<div class="item-title">' + e.kios.no + '</div><span>Rp. ' + e.kios.tariff + '</span></div></label></li>';
              })
              $("#cx-layout .list").html(tpl)
              calculate()
            })

          }

          $("body").on('change', '.cx-lapak', function () {
            calculate()
          })

          $("#btn-bayar").click(() => {
            calculate()
            AJX_POST({
              url: '/api/trx/cash/',
              data: {
                merchantId: self.merchantId,
                lapak: self.lapak.toString(),
                date: $("#demo-calendar-range").val(),
                periodDay: self.periodDay,
                total: self.total
              }
            }).done((e) => {
              msgSuccess('Data berhasil disimpan')
              self.$app.views.main.router.navigate('/print/' + e.data.id)
            })
          })

          calculate()
        })

        self.calendarRange = app.calendar.create({
          inputEl: '#demo-calendar-range',
          rangePicker: true,
          dateFormat: 'dd/mm/yyyy',
          on: {
            change: function (e) {
              self.range = e.value
              calculate()
            }
          }
        });
        self.autocompleteDropdownExpand = app.autocomplete.create({
          inputEl: '#autocomplete-dropdown-expand',
          openIn: 'dropdown',
          expandInput: true,
          valueProperty: 'name',
          textProperty: 'name',
          source: function (query, render) {
            var results = [];

            for (var i = 0; i < fruits.length; i++) {
              if (fruits[i].name.toLowerCase().indexOf(query.toLowerCase()) >= 0) results.push(fruits[i]);
            }
            render(results);
          },
          on: {
            change: function (e) {
              getLapak(e[0].id)
              self.merchantId = e[0].id
            }
          }
        });
      }
    }
  }
</script>