<template>
    <div class="page">
        <div class="navbar navbar-style-1">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="title">Pembayaran</div>
            </div>
        </div>
        <div class="page-content content-area pt-80">
            <div class="container">
                <img id="img-qr" src="" alt="">
                <p style="font-size:14px;text-align:center">Silahkan scan QR code diatas, bisa menggunakan aplikasi
                    dibawah ini</p>
            </div>
            <div class="container px-15">
                <img style="width: 80%;max-width: 400px;margin: 0 auto;display: block;" src="img/logo-digital.png"
                    alt="">
            </div>
            <div class="container px-15">
                <br><br>
                <a href="/home/" class="button button button-fill">OK</a>
            </div>
        </div>
    </div>
</template>
<script>
    return {
        on: {
            pageInit: function () {
                var self = this;
                var { id } = this.$route.params
                var url = `https://api.sandbox.veritrans.co.id/v2/gopay/${id}/qr-code`

                jQuery.noConflict();
                jQuery(($) => {
                    $("#img-qr").attr('src',url)
                })
            }
        },
    }
</script>