<template>
  <div class="page">
    <div
      style="background: white;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 100px;margin: 10px;text-align: center;">
      <h2 style="margin-bottom: 0px;">Pasar Sapa</h2>
      <h5 style="margin-top:2px;margin-bottom: 5px;">Struk Pembayaran Retribusi</h5>
      <div style="font-size: 70%;margin: 0px;">10/04/2021 - <span id="txt-invoice">-</span></div>
      <hr style="border-top: 1px dashed rgb(150, 150, 150)" />
      <table style="width: 100%;margin: 0 0px;padding: 5px 15px;text-align: left;">
        <tr>
          <td>Nama</td>
          <td>:</td>
          <td id="txt-name"></td>
        </tr>
        <tr>
          <td>Lapak</td>
          <td>:</td>
          <td>A2, A3 A4</td>
        </tr>
        <tr>
          <td>Periode</td>
          <td>:</td>
          <td id="txt-period">-</td>
        </tr>
        <tr>
          <td>Jumlah Hari</td>
          <td>:</td>
          <td><span id="txt-hari"></span> Hari</td>
        </tr>
        <tr>
          <td style="text-align: center;font-size: 150%;font-weight: bold;padding: 15px 0px 5px;" colspan=3>Total Bayar
          </td>
        </tr>
        <tr>
          <td id="txt-total" style="text-align: center;font-size: 150%;" colspan=3>-</td>
        </tr>
      </table>
    </div>
    <div class="toolbar toolbar-bottom footer-button padding border-top bottom-button">
      <div class="container px-15">
        <a id="print" href="#" class="button-large button button-fill">PRINT</a>
      </div>
    </div>
  </div>
</template>
<script>
  return {
    on: {
      pageInit: function () {
        var self = this;
        var { id } = this.$route.params
        let result = {}

        jQuery.noConflict();
        jQuery(($) => {
          AJX_GET({
            url: `/api/trx/print/${id}`
          }).then((res) => {
            $("#txt-invoice").html(res.data.invoice)
            $("#txt-name").html(res.data.merchant.name)
            $("#txt-period").html(res.data.date)
            $("#txt-hari").html(res.data.periodDay)
            $("#txt-total").html(RupiahFormatter(res.data.total))

            result = res
          })

          $("#print").click(() => {
            let data = {
              title: "Pasar Sapa",
              invoice: result.data.invoice || "tes inv",
              nama: result.data.merchant.name || "tes name",
              lapak: "A2, A3 A4",
              periode: result.data.date || "tes date",
              hari: result.data.periodDay || "tes hari",
              total: RupiahFormatter(result.data.total || 1000)
            }
            //window.ReactNativeWebView.postMessage(JSON.stringify(data));
            setTimeout(() => self.$app.views.main.router.navigate('/home/'), 500)
          })
        })
      }
    },
  }
</script>
