<template>
  <div class="page light">
    <div class="navbar navbar-style-1 navbar-transparent">
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon flaticon-left"></i>
          </a>
        </div>
        <div class="title">Daftar Transaksi</div>
        <div class="right">

        </div>
      </div>
    </div>
    <div class="page-content pt-60 pb-0 bg-primary">
      <div class="searchbar-backdrop"></div>
      <div class="dz-banner-heading">
        <div class="container">
          <h2 class="head-title text-white">Rertribusi Belum di Setor</h2>
          <p class="item-qty text-white">Total : <span id="total-nominal"></span> | <span id="total-retri"></span>
            Retribusi</p>
          <div class="category-icon">
            <img src="img/svg/grapes.svg" alt="">
          </div>
        </div>
      </div>
      <div class="fixed-content deals-content">
        <div class="bg-white sticky-top deals-search" style="padding-top: 0px;padding-bottom: 60px !important;">
          <div class="list search-list searchbar-found mt-0 mb-0">
            <form action="" id="frm-list-trx">
              <div style="margin-top: 0px;margin-bottom: 0px;" id="list-setoran-transation" class="list">
              </div>
            </form>
          </div>

          <div id="button-setor" style="display: none;" class="toolbar toolbar-bottom footer-button padding border-top">
            <div class="container px-15">
              <a id="btn-setor" class="button-large button button-fill">Setor Retribusi</a>
            </div>
          </div>

          <div id="section-no-data" style="display: none;">
            <b style='text-align: center;display: block;padding-top: 50px;'>Tidak Ada Data</b>
          </div>

        </div>
      </div>

    </div>
    <div class="toolbar tabbar tabbar-labels toolbar-bottom menubar-area">
      <div class="toolbar-inner">
        <a href="/home/" class="tab-link">
          <i class="flaticon-home"></i>
        </a>
        <a href="/setoran/" class="tab-link active">
          <i class="flaticon-transfer-2"></i>
        </a>
        <a href="/user/" class="tab-link">
          <img src="img/avatar/1.jpg" class="user-media" alt="">
        </a>
      </div>
    </div>
  </div>
</template>
<script>
  return {
    on: {
      pageInit: function () {
        var self = this
        var total = 0
        var retribusi = 0

        jQuery.noConflict();
        jQuery(($) => {
          AJX_GET({
            url: `/api/trx/setor`
          }).then((res) => {
            total = res.data.total.total
            retribusi = res.data.total.trx
            $("#total-nominal").html(RupiahFormatter(total))
            $("#total-retri").html(retribusi)
            let list = res.data.list
            let tpl = ""
            for (let key in list) {
              if (Object.hasOwnProperty.call(list, key)) {
                const element = list[key];
                tpl += '<div class="list-group"><ul><li class="list-group-title">' + key + '  | Total : ' + RupiahFormatter(element.total) + '</li>'

                element.data.forEach(e => {
                  tpl += '<li><div class="item-content"><div class="item-inner">'
                    + '<div style="display:flex"><input class="cx-total" data-total="' + e.total + '" name="cxtrx[' + e.id + ']" value="' + e.id + '" style="margin:15px 15px 0px 0px" checked="checked" type="checkbox"/><div><b>' + e.merchant.name + '</b><br/><small>' + e.invoice + '</small></div></div>'
                    + '<div class="item-title">' + RupiahFormatter(e.total) + '</div></div></div></li>'
                });

                tpl += '</ul ></div>'
              }
            }
            $("#list-setoran-transation").html(tpl)
            if (tpl.length > 1) {
              $("#button-setor").show()
            } else {
              $("#section-no-data").show()
            }

          })

          $(".page").on('click', '.cx-total', e => {
            total = 0
            retribusi = 0
            $('.cx-total').each(function () {
              if(this.checked){
                retribusi++
                total += $(this).data('total')
              }
            })
            $("#total-nominal").html(RupiahFormatter(total))
            $("#total-retri").html(retribusi)
          })

          $("#btn-setor").on('click', e => {
            Swal.fire({
              text: "Apakah sudah benar data yg ingin anda setor ke admin ?",
              confirmButtonColor: "#039688",
              showCancelButton: true,
              confirmButtonText: "Sudah Benar",
              cancelButtonText: "Cek Lagi",
            }).then((result) => {
              if (result.isConfirmed) {
                let data = $("#frm-list-trx").serializeArray()
                let dataId = []
                data.forEach(e => {
                  dataId.push(e.value)
                });
                AJX_POST({
                  url: `/api/trx/setor`,
                  data: {
                    id: dataId,
                    total,
                    retribusi
                  }
                }).done((e) => {
                  msgSuccess('Data berhasil disimpan')
                  self.$app.views.main.router.navigate('/home/')
                })

              }
            })
          })
        })
      }
    },
  }
</script>