<template>
  <div class="page">
    <div class="page-content account-area">
      <div class="dz-banner"
        style="background-image:url(img/banner/bnr-2.jpg); background-repeat:no-repeat; background-size:cover;">
      </div>
      <div class="dz-banner-height"></div>
      <div class="fixed-content py-30">
        <div class="container">
          <div class="tabs">
            <div class="tab tab-active form-elements tabs">
              <form id="login-form" class="tab tab-active" id="tabA1">
                <div class="title-bar mb-20">
                  <h3 class="dz-title ma-0">Masuk Aplikasi</h3>
                </div>
                <div class="list mb-0">
                  <ul class="row">
                    <li class="item-content item-input col-100 item-input-with-value">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input name="username" type="text" placeholder="Username" value="" id="signin-username"
                            class="form-control" />
                        </div>
                      </div>
                    </li>
                    <li class="item-content item-input col-100 item-input-with-value">
                      <div class="item-inner">
                        <div class="item-input-wrap">
                          <input name="password" type="password" placeholder="Password" value="" id="signin-password"
                            class="form-control" />
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="list text-center">
                  <p style="font-size: 13px;" class="mt-0 mb-20 fs-10 d-inline-block">
                    Silahkan masukkan username & password
                  </p>
                </div>
                <div class="list">
                  <ul>
                    <li class="mb-15">
                      <a id="button-masuk" href="#" class="button-large button button-fill">Masuk</a>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  return {
    on: {
      pageInit: function () {
        var self = this;
        jQuery.noConflict();
        jQuery(document).ready(function ($) {
          $("body").on("click", "#button-masuk", function (e) {
            AJX_POST({
              url: '/api/auth/',
              data: getFormData($("#login-form"))
            }).then((res) => {
              sessionStorage.setItem("token", res.data.token)
              Token = res.data.token
              
              Username = res.data.userData.username
              sessionStorage.setItem("username", Username)
              self.$app.views.main.router.navigate('/home/')
            })
          })
        })
      }
    },
  }
</script>