	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/03/2021 11:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-cancel:before { content: "\f100"; }
.flaticon-right:before { content: "\f101"; }
.flaticon-left:before { content: "\f102"; }
.flaticon-shopping-cart:before { content: "\f103"; }
.flaticon-right-1:before { content: "\f104"; }
.flaticon-transfer:before { content: "\f105"; }
.flaticon-like:before { content: "\f106"; }
.flaticon-home:before { content: "\f107"; }
.flaticon-bell:before { content: "\f108"; }
.flaticon-transfer-1:before { content: "\f109"; }
.flaticon-leaves:before { content: "\f10a"; }
.flaticon-loupe:before { content: "\f10b"; }
.flaticon-baguette:before { content: "\f10c"; }
.flaticon-share:before { content: "\f10d"; }
.flaticon-trash:before { content: "\f10e"; }
.flaticon-star-button:before { content: "\f10f"; }
.flaticon-round-account-button-with-user-inside:before { content: "\f110"; }
.flaticon-info:before { content: "\f111"; }
.flaticon-dashboard:before { content: "\f112"; }
.flaticon-transfer-2:before { content: "\f113"; }