<style>
    #list-transaksi .item-header,
    #list-transaksi .item-title {
        color: #517900 !important;
    }
</style>
<template>
    <div class="page page-homepage light" data-name="homepage">
        <div class="page-content content-area pt-30 bottom-sp80">
            <div class="container">
                <div class="notification-bar">
                    <div class="info">
                        <span class="text">Selamat Datang</span>
                        <h5 class="title">Maria Karina</h5>
                    </div>
                    <div class="media">
                        <a href="/notifications-app/" class="notibell">
                            <i class="fa fa-bell"></i>
                            <div class="badge"></div>
                        </a>
                    </div>
                </div>

                <div class="title-bar mb-15"></div>

                <div class="col-100">
                    <a href="/deals/" class="item-category">
                        <div class="item-info">
                            <h3 class="title">Senin, 5 Maret 2020</h3>
                            <p>Hari ini anda sudah bayar</p>
                        </div>
                        <img src="img/svg/leaf.svg" class="layer-icon" alt="">
                        <div class="item-icon">
                            <img src="img/svg/leaf.svg" alt="">
                        </div>
                    </a>
                </div>
                <div style="display: flex;flex-direction: row ">
                    <div style="flex-grow: 2;flex-basis: 0;" class="item-info">
                        <div class="clearfix">
                            <b class="category">Masa Berlaku Retribusi</b>
                            <p>10 Maret 2021</p>

                        </div>
                    </div>
                    <button style="flex-grow: 1;flex-basis: 0;" class="col button button-raised button-fill sheet-open"
                        data-sheet=".demo-sheet-swipe-to-close">Perpanjang</button>
                </div>
            </div>

            <div>
                <div style="color: black;" class="block-title">History Retribusi</div>
                <div class="list">
                    <ul id="list-transaksi" style="background: transparent;">
                        <li>
                            <a href="#" class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Pembayaran, 21 Maret 2021</div>Rp. 100.000<div
                                            class="item-footer">1 Bulan | Berlaku : 21 April 2021</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Pembayaran, 21 Maret 2021</div>Rp. 100.000<div
                                            class="item-footer">1 Bulan | Berlaku : 21 April 2021</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        <div class="item-header">Pembayaran, 21 Maret 2021</div>Rp. 100.000<div
                                            class="item-footer">1 Bulan | Berlaku : 21 April 2021</div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="toolbar tabbar tabbar-labels toolbar-bottom menubar-area">
            <div class="toolbar-inner">
                <a href="/home/" class="tab-link active">
                    <i class="flaticon-home"></i>
                </a>
                <a href="/categories/" class="tab-link">
                    <i class="flaticon-transfer-2"></i>
                </a>
                <a href="/user/" class="tab-link">
                    <img src="img/avatar/1.jpg" class="user-media" alt="">
                </a>
            </div>
        </div>

        <div class="sheet-modal demo-sheet-swipe-to-close" style="height:auto">
            <div class="sheet-modal-inner">
                <div class="swipe-handler"></div>
                <div class="page-content">
                    <div style="font-size: 20px;" class="block-title block-title-large">Bayar Retribusi</div>

                    <form class="list" id="demo-form">
                        <ul style="background: transparent;">
                            <li class="item-content item-input item-input-with-value">
                                <div class="item-inner">
                                    <div class="item-title item-label">Name</div>
                                    <div class="item-input-wrap">
                                        <input value="Maria Karina" name="name" type="text" placeholder="Your name"
                                            class="input-with-value" disabled="disabled">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content item-input item-input-with-value">
                                <div class="item-inner">
                                    <div class="item-title item-label">Periode</div>
                                    <div class="item-input-wrap input-dropdown-wrap">
                                        <select id="select-periode" name="gender" placeholder="Please choose..."
                                            class="input-with-value">
                                            <option value="1">1 Hari</option>
                                            <option value="3">3 Hari</option>
                                            <option value="7">1 Minggu</option>
                                            <option value="30">1 Bulan</option>
                                            <option value="365">1 Tahun</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li class="item-content item-input item-input-with-value">
                                <div class="item-inner">
                                    <div class="item-title item-label">Nominal</div>
                                    <div class="item-input-wrap" style="font-weight: bold;padding-top: 5px;">
                                        RP. <span id="span-nominal">10.000</span>,-
                                    </div>
                                </div>
                            </li>
                            <li class="item-content item-input item-input-with-value">
                                <div class="item-inner">
                                    <div class="item-title item-label">Berlaku Mulai</div>
                                    <div class="item-input-wrap">
                                        <input name="birthday" type="date" value="2021-03-20"
                                            placeholder="Please choose..." class="input-with-value">
                                    </div>
                                </div>
                            </li>
                            <li style="display: none;" id="section-sampai"
                                class="item-content item-input item-input-with-value">
                                <div class="item-inner">
                                    <div class="item-title item-label">Berlaku Sampai</div>
                                    <div class="item-input-wrap">
                                        <input name="birthday" type="date" value="2021-04-20"
                                            placeholder="Please choose..." class="input-with-value">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content item-input" style="padding: 10px 35px;">
                                <a id="pay-button-lagi" style="width: 100%;" href="#"
                                    class="button button-raised button-fill">Bayar</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    return {

        methods: {

        },
        on: {
            pageInit: function () {
                var self = this;

                $('.item-bookmark').on('click', function (e) {
                    $(this).toggleClass('active');
                });

                self.sheetSwipeToClose = self.$app.sheet.create({
                    el: '.demo-sheet-swipe-to-close',
                    swipeToClose: true,
                    push: true,
                    backdrop: true,
                });

                const AJX_URL = window.location.origin
                jQuery.noConflict();
                jQuery(document).ready(function ($) {
                    $("body").on("click", "#pay-button-lagi", function () {
                        self.$app.preloader.show();
                        $.get(AJX_URL + "/payment/", function (data) {
                            window.location.replace(data.result.redirect_url)
                        }, 'json');
                    });
                    $("body").on("change", "#select-periode", function (e) {
                        if (this.value !== "1") {
                            $("#section-sampai").show()
                        } else {
                            $("#section-sampai").hide()
                        }
                        let nominal = "10.000"
                        switch (this.value) {
                            case "1":
                                nominal = "10.000"
                                break;
                            case "3":
                                nominal = "30.000"
                                break;
                            case "7":
                                nominal = "50.000"
                                break;
                            case "30":
                                nominal = "250.000"
                                break;
                            case "365":
                                nominal = "2.500.000"
                                break;
                            default:
                                break;
                        }
                        $("#span-nominal").html(nominal)
                    });
                });
            },
            pageBeforeOut: function () {
                var self = this;

            },
            pageBeforeRemove: function () {
                var self = this;
                if (self.sheetSwipeToClose) self.sheetSwipeToClose.destroy();

            },
        },
    }
</script>