<div class="page">
	<div class="navbar navbar-style-1">
		<div class="navbar-bg"></div>
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon flaticon-left"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div>
			<div class="title">Notifications</div>
			<div class="right"></div>
		</div>
	</div>
	<div class="page-content content-area pt-80">
        <div class="container">
            <div class="card card-bx noti-area">
                <div class="item-title"><i class="text-success fa fa-circle"></i> Pembayaran Berhasil</div>
                <div class="item-text">Pembayaran diterima senilai Rp. 100.000,-</div>
                <div class="item-time">
                    <span><i class="fa fa-clock-o"></i> 10h ago</span>
                </div>
            </div>
            <div class="card card-bx noti-area">
                <div class="item-title"><i class="text-success fa fa-circle"></i> Pembayaran Berhasil</div>
                <div class="item-text">Pembayaran diterima senilai Rp. 100.000,-</div>
                <div class="item-time">
                    <span><i class="fa fa-clock-o"></i> 10h ago</span>
                </div>
            </div>
            <div class="card card-bx noti-area">
                <div class="item-title"><i class="text-success fa fa-circle"></i> Pembayaran Berhasil</div>
                <div class="item-text">Pembayaran diterima senilai Rp. 100.000,-</div>
                <div class="item-time">
                    <span><i class="fa fa-clock-o"></i> 10h ago</span>
                </div>
            </div>
        </div>
	</div>
</div>