<div class="page">
    <div class="navbar navbar-style-1">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon flaticon-left"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">Pembayaran</div>
            <div class="right"></div>
        </div>
    </div>
    <div class="page-content content-area pt-80">
        <div class="container">
            <iframe src="https://app.sandbox.midtrans.com/snap/v2/vtweb/660414a6-82fd-49c4-8ea6-7c16fc4e7a0a"
                frameborder="0"></iframe>
        </div>
    </div>
</div>



<!-- For example Snap Token is passed to this input field element --->
<input type="text" id="snap-token" value="008e102e-bfe2-42e6-acd0-d0efba4ab13b" class="form-input">
<button id="pay-button-click" class="btn btn-primary input-group-btn">Proceed to Payment</button>

<!-- import the snap.js provided by Midtrans -->
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js"
    data-client-key="SET_YOUR_CLIENT_KEY_HERE"></script>

<script type="text/javascript">
    var payButton = document.getElementById('pay-button');

    /* For example trigger on button clicked, or any time you need */
    payButton.addEventListener('click', function () {
        /* in this case, the snap token is retrieved from the Input Field */
        var snapToken = document.getElementById('snap-token').value;
        snap.pay(snapToken);
    });
</script>


<script>
    $(function(){
        alert("hello")
    })
</script>