<div class="page">
    <div class="navbar navbar-style-1">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="title">Pembayaran</div>
        </div>
    </div>
    <div class="page-content content-area pt-80">
        <div class="container">
            <h4 style="text-align: center;">Pembayaran Berhasil</h4>
        </div>
        <div class="container px-15">
			<a href="/home/" class="button-large button button-fill">OK</a>
		</div>
    </div>
</div>