<div class="page">
    <div class="page-content account-area">
        <div class="dz-banner"
            style="background-image:url(img/banner/bnr-1.jpg); background-repeat:no-repeat; background-size:cover;">
        </div>
        <div class="dz-banner-height"></div>
        <div class="fixed-content py-30">
            <div class="container">
                <div class="form-elements">
                    <form>
                        <div class="title-bar mb-20">
                            <h3 class="dz-title ma-0">Daftar E-Retribusi </h3>
                        </div>
                        <div class="list mb-0">
                            <ul class="row">
                                <li class="item-content col-100 item-input item-input-with-value">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input type="text" placeholder="Nama" value="Maria Karina"
                                                id="demo-username-11" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content col-100 item-input">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input type="email" placeholder="No HP" value=""
                                                id="demo-password-155" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content col-100 item-input item-input-with-value">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input type="text" placeholder="Alamat" value=""
                                                id="demo-username-11" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content col-100 item-input">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input type="email" placeholder="Email Address" value=""
                                                id="demo-password-13" class="form-control" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list text-center">
                            <p class="mt-0 mb-20 fs-14 d-inline-block">Dengan mendaftar aplikasi, pengguna menyetujui <a href="#"
                                    class="fw6 tab-link">syarat</a> dan <a href="#" class="fw6 tab-link">ketentuan</a>
                            </p>
                        </div>
                        <div class="list">
                            <a href="/signin/" class="button-large button button-fill">Daftar</a></li>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    return {

        methods: {

        },
        on: {
            pageInit: function () {
                var self = this;
            },
            pageBeforeOut: function () {
                var self = this;

            },
            pageBeforeRemove: function () {
                var self = this;
                if (self.sheetSwipeToClose) self.sheetSwipeToClose.destroy();

            },
        },
    }
</script>