<div class="page">
    <div class="page-content account-area">
        <div class="dz-banner"
            style="background-image:url(img/banner/bnr-2.jpg); background-repeat:no-repeat; background-size:cover;">
        </div>
        <div class="dz-banner-height"></div>
        <div class="fixed-content py-30">
            <div class="container">
                <div class="tabs">
                    <div class="tab tab-active form-elements tabs">
                        <form class="tab tab-active" id="tabA1">
                            <div class="title-bar mb-20">
                                <h3 class="dz-title ma-0">Masuk Aplikasi</h3>
                            </div>
                            <div class="list mb-0">
                                <ul class="row">
                                    <li class="item-content item-input col-100 item-input-with-value">
                                        <div class="item-inner">
                                            <div class="item-input-wrap">
                                                <input type="email" placeholder="Email / No HP" value=""
                                                    id="demo-username-22" class="form-control" />
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="list text-center">
                                <p style="font-size: 13px;" class="mt-0 mb-20 fs-10 d-inline-block">
                                    Silahkan masukkan No HP / Email untuk menerima Password
                                </p>
                            </div>
                            <div class="list">
                                <ul>
                                    <li class="mb-15"><a href="/home/" class="button-large button button-fill">Masuk</a></li>
                                    <li><a href="/signup/" class="button-large button button-fill">Daftar</a>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <form class="tab" id="tabA2">
                            <div class="title-bar mb-20">
                                <h3 class="dz-title ma-0">Forget Password</h3>
                                <a href="#tabA1" data-route-tab-id="tabA1" class="tab-link icon-close"><i
                                        class="flaticon-cancel"></i></a>
                            </div>
                            <div class="list mb-0">
                                <ul>
                                    <li class="item-content item-input item-input-with-value">
                                        <div class="item-inner">
                                            <div class="item-input-wrap">
                                                <input type="password" placeholder="New Password" id="demo-username-25"
                                                    class="form-control" />
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="/home/" class="button-large button button-fill">SUBMIT</a></li>
                                </ul>
                            </div>
                            <div class="list text-center">
                                <p class="fs-14 d-inline-block mt-10">Sign in to your registered account <a
                                        href="#tabA1" data-route-tab-id="tabA1" class="fw6 tab-link">Login here</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>